form span{
    color:red
}

button{
    padding: 1em;
    border-radius: .3em;
    background-color: rgb(44, 180, 44);
    color: red;
    border: 1px solid black;
    cursor: pointer;
}

button:hover{
    background-color: aliceblue;

}

body{
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
   
}

 input[type=text]{
     margin-bottom: 1em;
 }

 form label{
     display: inline-block;
     width: 44%;
     text-align: right;
     margin-right: 2em;
     font-family: 'Source Code Pro', monospace;
 }

 form button {
     margin-left: 50%;
 }   

 @media only screen and (max-width: 475px) {
     form label{
         text-align: left;
         width: 100%;
     }
     form button{
         margin-left: 0%;
     }


 }